

/// mixins that create web component visual states by extending a sass component

/// @access private
@mixin _web-component-extend($component: null, $include-background: true,
$include-border: true, $include-box-shadow: true, $include-font: true){
  @if $include-background {
    @extend %#{$component}-background !optional;
  }
  @if $include-border {
    @extend %#{$component}-border !optional;
  }
  @if $include-box-shadow {
    @extend %#{$component}-box-shadow !optional;
  }
  @if $include-font {
    @extend %#{$component}-font !optional;
  }
}

/// @access private
@mixin _web-component-extend-hover($component: null, $include-background: true,
$include-border: true, $include-box-shadow: true, $include-font: true){
  @if $include-background {
    @extend %#{$component}-background-hover !optional;
  }
  @if $include-border {
    @extend %#{$component}-border-hover !optional;
  }
  @if $include-box-shadow {
    @extend %#{$component}-box-shadow-hover !optional;
  }
  @if $include-font {
    @extend %#{$component}-font-hover !optional;
  }
}


/// @access private
@mixin _web-component-extend-active($component: null, $include-background: true,
$include-border: true, $include-box-shadow: true, $include-font: true){

  @if $include-background {
    @extend %#{$component}-background-active !optional;
  }
  @if $include-border {
    @extend %#{$component}-border-active !optional;
  }
  @if $include-box-shadow {
    @extend %#{$component}-box-shadow-active !optional;
  }
  @if $include-font {
    @extend %#{$component}-font-active !optional;
  }
}



/// @access public
/// @param {String} $component
/// @param {Boolean} $include-hover
/// @param {Boolean} $include-active
/// @param {Boolean} $include-disabled
@mixin web-component($component: null, $include-hover: true, $include-active: true, $include-disabled: true) {
  @extend %#{$component}-background !optional;
  @extend %#{$component}-border !optional;
  @extend %#{$component}-box-shadow !optional;
  @extend %#{$component}-font !optional;

  @if $include-hover {
    &:hover{
      @extend %#{$component}-background-hover !optional;
      @extend %#{$component}-border-hover !optional;
      @extend %#{$component}-box-shadow-hover !optional;
      @extend %#{$component}-font-hover !optional;
    }
    &:focus{
      @include tab-focus();
    }
  }
  @if $include-active {
    &:active, &.active {
      @extend %#{$component}-background-active !optional;
      @extend %#{$component}-border-active !optional;
      @extend %#{$component}-box-shadow-active !optional;
      @extend %#{$component}-font-active !optional;
    }
  }
  @if $include-disabled {
    &.disabled, &[disabled] {
      @extend %#{$component}-disabled !optional;
    }
  }
}


/// @access public
/// @param {String} $component
/// @param {Boolean} $include-background
/// @param {Boolean} $include-border
/// @param {Boolean} $include-box-shadow
/// @param {Boolean} $include-font
/// @param {Boolean} $include-disabled
@mixin web-component-default($component: null, $include-background: true,
$include-border: true, $include-box-shadow: true, $include-font: true, $include-disabled: true) {
  @include _web-component-extend($component,$include-background,$include-border,$include-box-shadow,$include-font);
  @if $include-disabled {
    &.disabled, &[disabled] {
      @extend %#{$component}-disabled !optional;
    }
  }
}


/// @access public
/// @param {String} $component
/// @param {Boolean} $include-background
/// @param {Boolean} $include-border
/// @param {Boolean} $include-box-shadow
/// @param {Boolean} $include-font
@mixin web-component-hover($component: null, $include-background: true,
$include-border: true, $include-box-shadow: true, $include-font: true) {
  &:hover{
    @include _web-component-extend-hover($component,$include-background,$include-border,$include-box-shadow,$include-font);
  }
  &:focus{
    @include tab-focus();
  }
}


/// @access public
/// @param {String} $component
/// @param {Boolean} $include-background
/// @param {Boolean} $include-border
/// @param {Boolean} $include-box-shadow
/// @param {Boolean} $include-font
@mixin web-component-active($component: null, $include-background: true,
$include-border: true, $include-box-shadow: true, $include-font: true) {
  &:active, &.active {
    @include _web-component-extend-active($component,$include-background,$include-border,$include-box-shadow,$include-font);
  }
}


/// @access public
/// @param {String} $component
/// @param {Boolean} $include-background
/// @param {Boolean} $include-border
/// @param {Boolean} $include-box-shadow
/// @param {Boolean} $include-font
/// @param {String} $state
@mixin web-component-base($component: null, $include-background: true,
$include-border: true, $include-box-shadow: true, $include-font: true,$state:default) {

  @if $state==active{
    @include _web-component-extend-active($component,$include-background,$include-border,$include-box-shadow,$include-font);
  }@else if($state==hover){
    @include _web-component-extend-hover($component,$include-background,$include-border,$include-box-shadow,$include-font);
  }@else{
    @include _web-component-extend($component,$include-background,$include-border,$include-box-shadow,$include-font);
  }
}






